/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class
/classes/com/novus/bc/*.class

/.settings
